<div class="one">
  <div class="two">
    <div class="three">
      <div class="four">
        <div class="five">
          <div class="six">
            <div class="seven">
              <label>
                <div id="player" class="player" [class.voted]="flipped">
                  <div class="front">
                    <div>Rotating Banner Text</div>
                  </div>
                  <div class="back">Rotating Banner Text</div>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
